# Ignore the virtual environment folder
/.venv

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore the YOLO Model
*.pt

# Ignore the Compiled Dynamic Libraries
*.dll

# Ignore the Emotion model
*.onnx

# Ignore live output files
crowd_analysis_report.json